* {
    margin : 0px;
    padding: 0px;
    font-family: 'Montserrat', 'Montecarlo, 'sans-serif;
    list-style-type: none;
}

#jumbotron-principal{
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 3rem;
    background-color: white;
    height: 80vh;
    min-height: 200px;
}

p .lead{
    font-family: 'Montecarlo';
}
.aboutMeSection {
    background-color: white;
    height: 60vh;
    min-height: 200px;
}

.newsLetterSection{
    padding-top: 40px;
}