* {
    margin : 0px;
    padding: 0px;
    font-family: 'Montserrat', 'Montecarlo, 'sans-serif;
    list-style-type: none;
}


nav .navbar-brand{
    font-family: 'Montecarlo', sans-serif;
    font-size: 1.5rem;
    padding-left: 20px;
}

#jumbotron-principal{
    font-family: 'Montserrat';

    background-color: white;
    height: 100vh;
    min-height: 200px;
}

#jumbotron-principal h1{
    font-weight: 600;
    
}

#jumbotron-principal p{
    font-weight: 400;  
}

p .lead{
    font-family: 'Montecarlo';
}
.aboutMeSection {
    background-image:  linear-gradient(to right, #8e2de2, #4a00e0);
    height: 60vh;
    min-height: 200px;
}

.newsLetterSection{
    padding-top: 40px;
}

.aboutMeSection a{
    color: black;
    text-decoration: none;
}

footer{
    background-image: linear-gradient(to right, #8e2de2, #4a00e0);;
}

.biogPic {
    height: auto;
    min-height: 40vh;
    padding-top: 20vh;
    padding-bottom: 20vh;
}

.biogPic p{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;

}

.biogPic .aboutMeImage{
    width: 100%;
    height: auto;
    min-width: 350px;
    min-height: 350px;
    background-image: url(../assets/images/blender.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.formularioContacto{
    align-self: center;
    width: 100%;
    height: auto;
    min-height: 450px;
    display: flex;
    margin-top: 10vh;
    margin-bottom: 10vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.formularioContacto h3{
    font-family: 'Roboto', sans-serif;
}

.formularioContacto form{
    width: 80%;
}

.formularioContacto form .form-group{
 margin-top: 3vh;
 margin-bottom: 3vh;
 border-radius: 15px;
}

.formularioContacto form button{
    background-color: #4a00e0;
    border-color: #8e2de2;
}

.comissionsSection{
    display: flex;
    width: 100%;
    height: auto;
    min-height: 600px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.comissionsSection .seccionPorComision{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    height: auto;
    min-height: 350px;
    margin: 4vh;
}

.comissionsSection .seccionPorComision .imagenComision{
    width: 350px;
    height: auto;
    margin: 10px;
}
.comissionsSection .seccionPorComision .imagenComision img{
    width: 350px;
    height: 350px;
    object-fit: cover;
}

.comissionsSection .seccionPorComision .detalleComision{
    
    width: auto;
    max-width: 800px;
    height: 100%;
    min-height: 350px;
    margin: 10px;
    
}

.comissionsSection .seccionPorComision .detalleComision p{
    align-self: flex-end;
    font-family: 'Roboto', sans-serif;
}