* {
    margin : 0px;
    padding: 0px;
    font-family: 'Montserrat', 'Montecarlo, 'sans-serif;
    list-style-type: none;
}

.jumbotron{
    background-color: white;
    height: 60vh;
    min-height: 800px;
}