
footer{
    .socialMedia{
        border-bottom: 2px solid $primaryColor;
        border-top: 2px solid $primaryColor;
        div{
            span{
                font-size: 1.2rem;
                font-weight: 500;
                color: $fontLightBlack;
            }
            }
        }
        .socialMedia__icons{
            a{
                text-decoration: none;
                @each $k, $v in $redes{
                        .fa-#{$k}{
                            background-color: $v;

                        }
                    }
            width: map-get($estilo-iconos, width);
            height: map-get($estilo-iconos, height);
            border-radius: map-get($estilo-iconos, border-radio);        
                
            }
        }
    .newsLetterSection{
        padding-top: 5vh;
    }
    background-image: $mainBackgrounColor;
    color: $fontLightBlack;
}