
footer{
    .socialMedia{
        border-bottom: 2px solid $primaryColor;
        border-top: 2px solid $primaryColor;
        div{
            span{
                font-size: 1.2rem;
                font-weight: 500;
                color: $fontLightBlack;
            }
            }
        }
    .newsLetterSection{
        padding-top: 5vh;
    }
    background-image: $mainBackgrounColor;
    color: $fontLightBlack;
}