
footer{
    .socialMedia{
        border-bottom: 2px solid $primaryColor;
        border-top: 2px solid $primaryColor;
        div{
            span{
                font-size: 1.2rem;
                font-weight: 500;
                color: $fontLightBlack;
            }
            }
        }
        .socialMedia__icons{
            a{
                width: auto;
                height: auto;
                text-decoration: none;
                @each $k, $v in $redes{
                        .fa-#{$k}{
                            background-color: $v;
                            min-width: map-get($estilos-iconos, width-icono);
                            min-height: map-get($estilos-iconos, height-icono);
                            border-radius: map-get($estilos-iconos, border-radius-icono);
                            color: map-get($estilos-iconos, color-icono);
                        }
                    }
            
                
            }
        }
    .newsLetterSection{
        padding-top: 5vh;
    }
    background-image: $mainBackgrounColor;
    color: $fontLightBlack;
}