
nav{
    .navbar-brand{
        @extend .navTransition;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.75rem;
        font-weight: 400;
        
        a{
            text-decoration: none;
            color: $fontLightBlack;
        }
    }
    .navbar-brand:hover{
        background-color: $primaryColor;
        a{
            color: white;
        }
        
    }
    #navbarNav{
        ul{
            @extend .navTransition;        
            .nav-link{
                transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
            }
            .nav-link:hover{
                color: white;
            }
        }
        ul:hover{
            background-color: $primaryColor;
        }
    }
}

.navTransition{
    transition: 0.6s ease-in-out;
    padding: 5px;
    border-radius: $borderRadiusSecundary;
}