/*Variables de colores*/

$primaryColor: #8e2de2;
$secondaryColor: #4a00e0;
$fontLightBlack: #171717;
$fontDarkGrey: #636363;
$mainBackgrounColor: linear-gradient(45deg, $primaryColor, $secondaryColor);

/*Variables de fuentes*/

/*Variables de bordes*/

$borderRadiusPrincipal: 15px;
$borderRadiusSecundary: 5px;